# Dependencias (La carpeta que más pesa, nunca se sube)
node_modules/
jspm_packages/

# Carpetas de compilación / producción
dist/
build/
.cache/

# Archivos del sistema operativo (Basura del sistema)
.DS_Store
Thumbs.db
desktop.ini

# Variables de entorno y secretos (Seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de configuración de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Logs de errores de Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*